<div class="meme-share">
  <div class="container">
    <h3>Download trending Spaceman Challenge memes and share on your social media posts with #spacamanchallenge</h3>
    <div class="gallery">
      <!-- Gallery items -->
      <div class="gallery-item">
        <%= image_tag "1.png", alt: "Meme" %>
        <div class="overlay">
          <div class="overlay-content">
            <%= link_to download_image_path(filename: '1.png'), class: "download-icon" do %>
              <i class="fas fa-download"></i> Download
            <% end %>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <%= image_tag "2.png", alt: "Meme" %>
        <div class="overlay">
          <div class="overlay-content">
            <%= link_to download_image_path(filename: '2.png'), class: "download-icon" do %>
              <i class="fas fa-download"></i> Download
            <% end %>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <%= image_tag "3.png", alt: "Meme" %>
        <div class="overlay">
          <div class="overlay-content">
            <%= link_to download_image_path(filename: '3.png'), class: "download-icon" do %>
              <i class="fas fa-download"></i> Download
            <% end %>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <%= image_tag "4.png", alt: "Meme" %>
        <div class="overlay">
          <div class="overlay-content">
            <%= link_to download_image_path(filename: '4.png'), class: "download-icon" do %>
              <i class="fas fa-download"></i> Download
            <% end %>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <%= image_tag "5.png", alt: "Meme" %>
        <div class="overlay">
          <div class="overlay-content">
            <%= link_to download_image_path(filename: '5.png'), class: "download-icon" do %>
              <i class="fas fa-download"></i> Download
            <% end %>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <%= image_tag "6.png", alt: "Meme" %>
        <div class="overlay">
          <div class="overlay-content">
            <%= link_to download_image_path(filename: '6.png'), class: "download-icon" do %>
              <i class="fas fa-download"></i> Download
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>