<div class="modal fade" id="signIn" tabindex="-1" aria-labelledby="signInLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <h3>Sign in</h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="row">
            <div class="col-12">
              <div class="form-floating mb-3">
                <%= f.email_field :email, id: 'email-2', autofocus: true, class: "form-control w-100", placeholder: "name@example.com", required: true %>
                <%= f.label :email, "Email address" %>
              </div>                    
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                <%= f.password_field :password, id: 'password-2', class: "form-control w-100", placeholder: "Password", required: true %>
                <%= f.label :password %>
              </div>
            </div>
            <%# <p class="text-right">
              Forgot password?
            </p> %>
          </div>
          <%= f.submit "Login", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="already-join">
        Don’t have an account? <button data-bs-toggle="modal" data-bs-target="#signUp">Sign up here!</button>
      </div>
    </div>
  </div>
</div>